.App {
  font-family: Courier New;
  text-align: center;
}
.header {
  background-color: lightblue;
  padding: 20px;
}

.headline{
  padding-top: 80px;
  font-weight: bold;
  font-size: 40px;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, auto);
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 20px;

}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  min-height: 40px;
  font-weight: bold;
  font-size: 15px;

  border: 4px lightblue solid;
  border-radius: 10px;

  cursor: pointer;
}

.tile--set {
  background: lightblue;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;

  overflow-y: hidden;
  overflow-x: hidden;

  height: 100vh;
  width: 100vw;
  margin: 0;

  pointer-events: none;
}

img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;  


}